body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1.heading-title {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

span#basic-addon2 {
    width: 50px;
    display: inline-block;
    font-size: 19px;
    padding: 0;
    line-height: 34px;
}
